extends ../layout

block content
	link(href="/layui-src/src/css/layui.css",rel="stylesheet")
	script(src="/layui-src/src/layui.all.js")
	script(src="/layui-src/dist/layui.js")
	
	script.
		$(function(){
			layui.use('carousel', function(){
			  var carousel = layui.carousel;
			  //建造实例
			  carousel.render({
			    elem: '#test1'
			    ,width: '100%' //设置容器宽度
			    ,arrow: 'always' //始终显示箭头
			    //,anim: 'updown' //切换动画方式
			  });
			});
		})

			
	.container
		.row
			.layui-carousel#test1(style="width: 100%; height: 280px; margin-bottom:20px" ,lay-indicator="inside",lay-arrow="always")
				div(carousel-item="")
					div
						img(src="images/lunbo1.png",width="100%")
					div
						img(src="images/lunbo1.png",width="100%")
					div
						img(src="images/lunbo1.png",width="100%")
				//-#myCarousel.carousel.slide
					ol.carousel-indicators
						li.active(data-target="#myCarousel",data-slide-to="0")
						li(data-target="#myCarousel",data-slide-to="1")
						li(data-target="#myCarousel",data-slide-to="2")
					.carousel-inner
						.item.active
							img(src="images/lunbo1.png",alt="ceshi")
						.item
							img(src="images/lunbo1.png",alt="ceshi")
						.item
							img(src="images/lunbo1.png",alt="ceshi")
					a.carousel-control.left(href="#myCarousel",data-slide="prev") 1
					a.carousel-control.right(href="#myCarousel",data-slide="next") 1
			each cat in catetories
				.panel.panel-default
					.panel-heading
						h3
							a(href='/results?cat=#{cat._id}&p=0') #{cat.name}
					.panel-body
						if cat.products && cat.products.length > 0
							each item in cat.products
								.col-md-2.col-xs-6
									.thumbnail.text-center
										a(href="/movie/#{item._id}")
											if item.poster.indexOf('http:') > -1
												img(src="#{item.poster}",alt="#{item.title}")
											else
												img(src="/upload/#{item.poster}",alt="#{item.title}")
										.caption.text-center
											h3 #{item.title}
											p: a.btn.btn-primary(href="/movie/#{item._id}",role="button") 观看预告片
	.container
		.row(style="margin-bottom:60px")
			.panel.panel-default.col-md-4(style="padding:0")
				.panel-heading
					p.label.label-success 会员列表
				.panel-body 					
					each user in users
						.media
							a.pull-left(href="#")
								img.media-object.img-circle(src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI2NCIgaGVpZ2h0PSI2NCI+PHJlY3Qgd2lkdGg9IjY0IiBoZWlnaHQ9IjY0IiBmaWxsPSIjZWVlIi8+PHRleHQgdGV4dC1hbmNob3I9Im1pZGRsZSIgeD0iMzIiIHk9IjMyIiBzdHlsZT0iZmlsbDojYWFhO2ZvbnQtd2VpZ2h0OmJvbGQ7Zm9udC1zaXplOjEycHg7Zm9udC1mYW1pbHk6QXJpYWwsSGVsdmV0aWNhLHNhbnMtc2VyaWY7ZG9taW5hbnQtYmFzZWxpbmU6Y2VudHJhbCI+NjR4NjQ8L3RleHQ+PC9zdmc+", style="width: 64px; height: 64px;")
							.media-body
								h4.meida-heading #{user.name}
								p 个性签名个性签名个性签名个性签名
